# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*

# maven target directories
target/
pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup

# IDE files
.project
.classpath
.settings
.idea
*.ipr
*.iml
*.iws
nb-configuration.xml

# KDE
.directory

# MacOS DS_Store
.DS_Store

# Swap files
*.swp
