<!--

    Copyright 2015 Red Hat, Inc. and/or its affiliates
    and other contributors as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<module xmlns="urn:jboss:module:1.3" name="org.hawkular.agent.monitor">
  <resources>
    <artifact name="${org.hawkular.metrics:hawkular-metrics-clients-common}"/>
    <artifact name="${org.hawkular.bus:hawkular-bus-common}"/>
    <artifact name="${org.hawkular.agent:hawkular-dmr-client}"/>
    <artifact name="${org.hawkular.agent:hawkular-monitor}"/>
    <artifact name="${org.hawkular.cmdgw:hawkular-command-gateway-api}"/>
    <artifact name="${org.hawkular.inventory:hawkular-inventory-json-helper}"/>
    <artifact name="${org.hawkular.inventory:hawkular-inventory-api}"/>
    <artifact name="${org.jgrapht:jgrapht-core}"/>
    <artifact name="${io.dropwizard.metrics:metrics-core}"/>
    <artifact name="${com.squareup.okhttp:okhttp}"/>
    <artifact name="${com.squareup.okhttp:okhttp-ws}"/>
    <artifact name="${com.squareup.okio:okio}"/>

    <!-- These are pulled in due to hawkular-inventory-json-helper.jar. -->
    <!--
    <resource-root path="activation.jar"/>
    <resource-root path="btf.jar"/>
    <resource-root path="jackson-coreutils.jar"/>
    <resource-root path="joda-time.jar"/>
    <resource-root path="jopt-simple.jar"/>
    <resource-root path="json-schema-core.jar"/>
    <resource-root path="json-schema-validator.jar"/>
    <resource-root path="jsr305.jar"/>
    <resource-root path="libphonenumber.jar"/>
    <resource-root path="mailapi.jar"/>
    <resource-root path="msg-simple.jar"/>
    <resource-root path="rhino.jar"/>
    <resource-root path="rxjava.jar"/>
    <resource-root path="uri-template.jar"/>
    -->

    <artifact name="${io.reactivex:rxjava}"/>

    <!-- OSHI deps -->
    <artifact name="${com.github.dblock:oshi-core}"/>
    <artifact name="${net.java.dev.jna:jna-platform}"/>
    <artifact name="${net.java.dev.jna:jna}"/>

    <!-- Jolokia deps -->
    <artifact name="${commons-codec:commons-codec}" />
    <artifact name="${org.apache.httpcomponents:httpclient-osgi}" />
    <artifact name="${org.jolokia:jolokia-client-java}" />
    <artifact name="${com.googlecode.json-simple:json-simple}" />
    <!-- I can't find these in mvn dependency:tree but they came when pulling in jolokia -->
    <!--
    <artifact name="${commons-logging}" />
    <artifact name="${fluent-hc}" />
    <artifact name="${httpclient-cache}" />
    <artifact name="${httpcore}" />
    <artifact name="${httpmime}" />
     -->
  </resources>

  <dependencies>
    <!-- modules required by any subsystem -->
    <module name="javax.api"/>
    <module name="org.jboss.as.controller"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.msc"/>
    <module name="org.jboss.staxmapper"/>
    <module name="org.jboss.vfs"/>

    <!-- other dependencies we need -->
    <module name="org.jboss.as.domain-management"/>
    <module name="org.jboss.as.naming"/>
    <module name="org.jboss.as.network"/>
    <module name="org.jboss.as.threads"/>
    <module name="org.jboss.logmanager" services="import"/>
    <module name="org.jboss.threads"/>
    <module name="org.slf4j"/>
    <module name="org.wildfly.security.manager"/>
    <module name="sun.jdk"/> <!-- codahale needs sun.misc.Unsafe -->
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>

    <system export="true">
      <paths>
        <!-- Needed for HTTP2 and SPDY support-->
        <path name="org/eclipse/jetty/alpn"/>
      </paths>
    </system>
  </dependencies>
</module>
